on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
    secrets:
      gh_token:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Install TOML editor
        run: pip install tomlkit

      - name: Modify base_url
        run: |
          python -c "
          import tomlkit
          with open('pyproject.toml', 'r') as f:
              doc = tomlkit.parse(f.read())
          
          doc['tool']['oneclickinstall']['api']['base_url'] = '${{ vars.DEPLOY_BASE_URL }}'
          
          with open('pyproject.toml', 'w') as f:
              f.write(doc.as_string())
          "

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.gh_token }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/oneclickinstall
          tags: |
            type=raw,value=${{ inputs.version }}
            type=raw,value=latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.build
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
